/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootflat
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'

 *= require jquery.ui.all

 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Cantarell);

#Container .mix{
  display: none;
}

body{
  background-color: #656D78;
  color: #FFF;
}




.controls{
  width: 100%;
  margin-top: 150px;
  margin-bottom: 10px;
  display: block;
  line-height: 1.5em;
}

.camera-profile{
  width: 400px;
  background-color: #FFF;
  color: black;

}

h1,h2,h3 {
  font-family: 'Cantarell', sans-serif;
}

a.btn {
 font-family: 'Cantarell', sans-serif;
}

.navbar-collapse {
  background-color: #434A54;
  display:block;
  width: 100%;
  top:0;
  position: fixed;
  margin-bottom: 10px;
  z-index: 5;
}


.navbar-text{
  float: right;
}

.logo{
  float: left;
}


.alert{
  float: right;
}

.pics-container .mix {
  display: none;
}

.pics-container a {
  display: block;
}
btn-info {
  margin-top: 20px;
}

.desire {
  background-color: #FFF;
  color: black;
}

.delete-button{
  margin-left: 185px;
  text-align: center;
}


#main {
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;
  z-index: 0;
  display: block;
}


.modal-content{
  padding: 20px;
  padding-left: 40px;
  background-color: #F5F7FA;
}

.camera-show, p {
  margin-left: 250px;

}


.camera-show .camera-stats{
  margin-left: 250px;
}

.camera-show .camera-stats li {
  list-style: none;
}
