// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture{
  // border: 5px solid pink;
  // display: inline-block;
  // margin: 10px;
  float: left;
  // height: inherit;
}

.frame{

  position: absolute;
  overflow: none;
  max-width: 100%;
  display: inline-block;
}



.credit {
  position: absolute;
  margin-bottom: 0;
  background-color: pink;

  background-size: cover;

}

#masonry-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
